@media screen and (min-width: 200px) and (max-width: 1600px){
  body{
background-image: linear-gradient(to right top, #07909f, #4693a9, #6896ad, #8299ad, #969eab);
}
}

@media only screen and (max-width:1300px) and (orientation: landscape){
  body{
  margin: 0;
  padding: 0;
}
}
h1{
font-family: Helvetica;
text-align: center;
margin-top: 5%;
margin-left: 5%;
}


p{
font-family: Helvetica;
font-size: 100%;
text-align: center;
margin-top: 5%;
margin-left: 5%;
}


@media screen and (min-width: 360px) and (max-width: 640px) {
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 3%;
  margin-left: 8%;
  cursor: pointer;
}
}

@media screen and (min-width: 411px) and (max-width: 823px) {
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 3%;
  margin-left: 15%;
  cursor: pointer;
}
}

@media screen and (min-width: 1000px) {
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 3%;
  margin-left: 40%;
  cursor: pointer;
}
}

@media screen and (min-width: 360px) and (max-width: 640px) {
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 35%;
  margin-left: 8%;
  cursor: pointer;
}
}

@media screen and (min-width: 411px) and (max-width: 823px) {
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 35%;
  margin-left: 15%;
  cursor: pointer;
}
}

@media screen and (min-width: 1000px) {
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 15%;
  margin-left: 40%;
  cursor: pointer;
}
}

button1:hover{
  background-color: rgb(185, 205, 227);
  transition: 0.8s;
}

button2:hover{
  background-color: rgb(185, 205, 227);
  transition: 0.8s;
}
