@media screen and (min-width: 200px) and (max-width: 1600px){
  body{
background-image: linear-gradient(to right top, #a1a1a1, #94bbe9, #a1a1a1, #94bbe9);
}
}

@media only screen and (max-width:1300px) and (orientation: landscape){
  body{
  margin: 0;
  padding: 0;
}
}
h1{
font-family: Helvetica;
text-align: center;
margin-top: 5%;
margin-left: 5%;
}


p{
font-family: Helvetica;
font-size: 100%;
text-align: center;
margin-top: 5%;
margin-left: 5%;
}

@media screen and (orientation: landscape){
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 2%;
  margin-left: 39%;
  cursor: pointer;
}
}

@media screen and (orientation: landscape){
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 26%;
  margin-left: 39%;
  cursor: pointer;
}
}

@media screen and (orientation: landscape){
button3{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 50%;
  margin-left: 39%;
  cursor: pointer;
}
}

@media screen and (min-width: 280px) and (max-width: 600px) {
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 120px;
  height: 50px;
  margin-top: 2%;
  margin-left: 10%;
  cursor: pointer;
}
}

@media screen and (min-width: 310px) and (max-width: 570px)  {
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 2%;
  margin-left: 2%;
  cursor: pointer;
}
}

@media screen and (min-width: 360px) and (max-width: 640px)  {
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 3%;
  margin-left: 8%;
  cursor: pointer;
}
}

@media screen and (min-width: 411px) and (max-width: 823px) {
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 3%;
  margin-left: 15%;
  cursor: pointer;
}
}

@media screen and (min-width: 540px) and (max-width: 720px) {
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 3%;
  margin-left: 23%;
  cursor: pointer;
}
}

@media screen and (min-width: 1000px){
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 3%;
  margin-left: 40%;
  cursor: pointer;
}
}

@media screen and (min-width: 1000px) and (max-width: 1380px){
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 3%;
  margin-left: 38%;
  cursor: pointer;
}
}

@media screen and (min-width: 280px) and (max-width: 600px) {
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 120px;
  height: 50px;
  margin-top: 40%;
  margin-left: 10%;
  cursor: pointer;
}
}

@media screen and (min-width: 310px) and (max-width: 570px) {
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 40%;
  margin-left: 2%;
  cursor: pointer;
}
}

@media screen and (min-width: 360px) and (max-width: 640px) {
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 35%;
  margin-left: 8%;
  cursor: pointer;
}
}

@media screen and (min-width: 411px) and (max-width: 823px) {
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 35%;
  margin-left: 15%;
  cursor: pointer;
}
}

@media screen and (min-width: 540px) and (max-width: 720px) {
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 35%;
  margin-left: 23%;
  cursor: pointer;
}
}

@media screen and (min-width: 1000px) {
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 15%;
  margin-left: 40%;
  cursor: pointer;
}
}

@media screen and (min-width: 1000px) and (max-width: 1380px){
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 15%;
  margin-left: 38%;
  cursor: pointer;
}
}


@media screen and (min-width: 280px) and (max-width: 600px) {
button3{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 120px;
  height: 50px;
  margin-top: 80%;
  margin-left: 10%;
  cursor: pointer;
}
}

@media screen and (min-width: 310px) and (max-width: 570px) {
button3{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 80%;
  margin-left: 2%;
  cursor: pointer;
}
}

@media screen and (min-width: 360px) and (max-width: 640px) {
button3{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 67%;
  margin-left: 8%;
  cursor: pointer;
}
}

@media screen and (min-width: 411px) and (max-width: 823px) {
button3{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 67%;
  margin-left: 15%;
  cursor: pointer;
}
}

@media screen and (min-width: 540px) and (max-width: 720px) {
button3{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 67%;
  margin-left: 23%;
  cursor: pointer;
}
}

@media screen and (min-width: 1000px) {
button3{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 27%;
  margin-left: 40%;
  cursor: pointer;
}
}

@media screen and (min-width: 1000px) and (max-width: 1380px){
button3{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 27%;
  margin-left: 38%;
  cursor: pointer;
}
}

@media screen and (orientation: landscape) and (max-width: 812px){
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 2%;
  margin-left: 33%;
  cursor: pointer;
}
}

@media screen and (orientation: landscape) and (max-width: 812px){
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 26%;
  margin-left: 33%;
  cursor: pointer;
}
}

@media screen and (orientation: landscape) and (max-width: 812px){
button3{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 50%;
  margin-left: 33%;
  cursor: pointer;
}
}


@media screen and (orientation: landscape) and (max-width: 667px){
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 2%;
  margin-left: 28%;
  cursor: pointer;
}
}

@media screen and (orientation: landscape) and (max-width: 667px){
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 26%;
  margin-left: 28%;
  cursor: pointer;
}
}

@media screen and (orientation: landscape) and (max-width: 667px){
button3{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 50%;
  margin-left: 28%;
  cursor: pointer;
}
}

@media screen and (orientation: landscape)and (max-width: 400px){
button1{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 2%;
  margin-left: 39%;
  cursor: pointer;
}
}

@media screen and (orientation: landscape) and (max-width: 400px){
button2{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 26%;
  margin-left: 39%;
  cursor: pointer;
}
}

@media screen and (orientation: landscape) and (max-width: 400px){
button3{
  font-family: Helvetica;
  background-color: white ;
  border-radius: 40px;
  position: absolute;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 120%;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-top: 50%;
  margin-left: 39%;
  cursor: pointer;
}
}


button1:hover{
  background-color: rgb(185, 205, 227);
  transition: 0.8s;
}

button2:hover{
  background-color: rgb(185, 205, 227);
  transition: 0.8s;
}

button3:hover{
  background-color: rgb(185, 205, 227);
  transition: 0.8s;
}
